<template>
  <div class="dashboard container">
    <div class="row">
       <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Operation</th>
              <th scope="col">Result</th>
              <th scope="col">Operation Cost</th>
              <th scope="col">User Balance</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in records" :key="record.id">
              <th scope="row">{{record.id}}</th>
              <td>{{record.operation.type}}</td>
              <td>{{record.operation_response}}</td>
              <td>{{record.amount}}</td>
              <td>{{record.user_balance}}</td>
              <td><button @click="deleteRecord(record.id)"  class="btn  btn-danger">Delete Record</button></td>
            </tr>
          </tbody>
        </table>
       </div>
       <div class="col-sm-12">
           <button type="button" @click="newOperation()" class="btn mt-3 btn-primary">New Operation</button>
       </div>
      </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'RegisterComponent',
  props: {
    msg: String
  },
  data(){
    return{
        email: null,
        password: null,
        records:[],
    }
  },
  methods:{
    deleteRecord(recordId){
      if(confirm("delete this record?")){
        const token = localStorage.getItem('token');

       axios.interceptors.request.use(
            config => {
                config.headers.Accept = "application/json";
                config.headers.Authorization =
                    "Bearer " + token;
                return config;
            },
            function(error) {
                return Promise.reject(error);
            }
        );

      axios.post(this.$root.api+"/api/delete-record", {record_id: recordId}).then(response =>{
        if(response.data.success){
          this.records = response.data.data;
          alert("Record deleted");
        }
      })
      }
      
    },
    send(){
      const token = localStorage.getItem('token');

       axios.interceptors.request.use(
            config => {
                config.headers.Accept = "application/json";
                config.headers.Authorization =
                    "Bearer " + token;
                return config;
            },
            function(error) {
                return Promise.reject(error);
            }
        );

      axios.get(this.$root.api+"/api/user").then(response =>{
       console.log(response.data);
      })
    },
    newOperation(){
      this.$router.push({path: '/new-operation'});
    },
    verifyLogin(){
      const token = localStorage.getItem('token');

      axios.interceptors.request.use(
          config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                  "Bearer " + token;
              return config;
          },
          function(error) {
              return Promise.reject(error);
          }
      );
    axios.get(this.$root.api+"/api/user").then(response =>{
    console.log(response.data);
    this.getRecords();
    }).catch(error =>{
      console.log(error);
      window.location.href = "/"
    })
    },
    getRecords(){
        const token = localStorage.getItem('token');

      axios.interceptors.request.use(
          config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                  "Bearer " + token;
              return config;
          },
          function(error) {
              return Promise.reject(error);
          }
      );
    axios.post(this.$root.api+"/api/records").then(response =>{
      this.records = response.data.data;
    }).catch(error =>{
      console.log(error);
    })
    }
  },
  mounted(){
    this.verifyLogin();
  }
}
</script>
