<template>
  <div class="dashboard container">
    <div class="row">
       <div class="col-sm-12">
           <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <div class="row">
                   <div class="col-sm-12 mb-3">
                    <select v-model="operation" class="form-select" aria-label="Default select example">
                      <option selected value="addition">+</option>
                      <option value="subtraction">-</option>
                      <option value="division">/</option>
                      <option value="multiplication">*</option>
                      <option value="square_root">Square Root</option>
                      <option value="random_string">Random String</option>
                    </select>
                  </div>
                  <template v-if="twoNumbersOperation">
                    <div class="col-sm-12">
                    <div class="input-group mb-3">
                    <input v-model="number1"  type="number" class="form-control" id="inputPassword">
                    </div>
                    </div>
                  
                    <div class="col-sm-12">
                      <input v-model="number2"  type="number" class="form-control" id="inputPassword">
                    </div>
                  </template>
                  <template v-if="operation == 'square_root'">
                    <div class="col-sm-12">
                      <div class="input-group mb-3">
                       <input v-model="number1"  type="number" class="form-control" id="inputPassword">
                      </div>
                    </div>
                  </template>
                  <div class="col-sm-12 mt-3">
                        Result: {{result}}
                  </div>
                  <div class="col-sm-12">
                    <button type="button" @click="send()" class="btn mt-3 btn-primary">Result</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
       </div>
      </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'RegisterComponent',
  props: {
    msg: String
  },
  data(){
    return{
        number1: 0,
        number2: 0,
        result: 0,
        operation: 'addition'
    }
  },
  computed:{
    twoNumbersOperation(){
      return this.operation == "addition" ||  this.operation == "subtraction" || this.operation == "multiplication" || this.operation == "division"
    }
  },
  methods:{
    send(){
      const token = localStorage.getItem('token');

       axios.interceptors.request.use(
            config => {
                config.headers.Accept = "application/json";
                config.headers.Authorization =
                    "Bearer " + token;
                return config;
            },
            function(error) {
                return Promise.reject(error);
            }
        );

      axios.post(this.$root.api+"/api/operation", {
        number1: this.number1,
        number2: this.number2,
        operation: this.operation
      }).then(response =>{
       if(response.data.success){
          this.result = response.data.data;
       }else{
        this.result = response.data.message;
       }
      })
    },
    newOperation(){
      this.$router.push({path: '/new-operation'});
    }
  },
  mounted(){
    const token = localStorage.getItem('token');

      axios.interceptors.request.use(
          config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                  "Bearer " + token;
              return config;
          },
          function(error) {
              return Promise.reject(error);
          }
      );
    axios.get(this.$root.api+"/api/user").then(response =>{
    console.log(response.data);
    
    }).catch(error =>{
      console.log(error);
      window.location.href = "/"
    })
  }
}
</script>
