<template>
  <div class="register">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" v-model="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input v-model="password" placeholder="password" type="password" class="form-control" id="inputPassword">
              <button type="button" @click="register()" class="btn mt-3 btn-primary">Create Account</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'RegisterComponent',
  props: {
    msg: String
  },
  data(){
    return{
        email: null,
        password: null
    }
  },
  methods:{
    register(){
      console.log(this.$root);
      axios.post(this.$root.api+ "/api/register", {
        email: this.email,
        password: this.password
      }).then(response =>{
       if(response.data.success){
        alert("Account created succefully");
       }
       
      })
    }
  }
}
</script>
