<template>
  <div class="hello">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input v-model="email" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input v-model="password" placeholder="password" type="password" class="form-control" id="inputPassword">
              <button type="button" @click="register()" class="btn mt-3 btn-primary">Sign in</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
      
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return{
        email: null,
        password: null
    }
  },
  methods:{
    register(){
      axios.post(this.$root.api+"/api/tokens/create", {
        email: this.email,
        password: this.password
      }).then(response =>{
       if(response.data.token){
        localStorage.setItem('token', response.data.token);
        localStorage.setItem('logged', true);
        location.reload();

          
       }else{
        alert("Email or password went wrong");
       }
      })
    }
  },
  mounted(){
    const token = localStorage.getItem('token');

      axios.interceptors.request.use(
          config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                  "Bearer " + token;
              return config;
          },
          function(error) {
              return Promise.reject(error);
          }
      );
    axios.get(this.$root.api+"/api/user").then(response =>{
    console.log(response.data);
    window.location.href = "/#/dashboard"
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
