<template>
  <nav>
    <router-link v-if="!isLogged" to="/">Sign in |</router-link> 
    <router-link v-if="!isLogged"  to="/register"> Register</router-link> 
    <router-link v-if="isLogged" to="/dashboard">Dashboard |</router-link> 
    <span v-if="isLogged" style="cursor: pointer"  @click="logout" >Log Out</span>
  </nav>
  <router-view/>
</template>

<script>
import axios from 'axios'
export default {
  name: 'AppView',
  data(){
    return{
      api: 'https://codigogourmet.com/prueba_api'
    }
  },
  computed:{
    isLogged(){
      return localStorage.getItem('logged') == "true"
    }
  },
  methods:{
    logout(){

      const token = localStorage.getItem('token');

       axios.interceptors.request.use(
            config => {
                config.headers.Accept = "application/json";
                config.headers.Authorization =
                    "Bearer " + token;
                return config;
            },
            function(error) {
                return Promise.reject(error);
            }
        );

      axios.get(this.$root.api+"/api/logout").then(response =>{
        localStorage.setItem('token', '');
        localStorage.setItem('logged', false)
        window.location.href = "/"
        console.log(response);
      })
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
